*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* chrome */
	-moz-box-sizing: border-box; /* mozilla */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body{
	padding: 0;
	margin: 0;
	background-color: gray;
}

#container{
	background-color: white!important;
	margin:0 auto;
	width: 1024px;
}

.clearBoth{
	clear:both;
}

a{
	text-decoration:none;
}

h1{
	font: 26px "Trebuchet MS", Arial, Helvetica, sans-serif!important;
}

h2{
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif!important;
}

h3{
	font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h5{
	margin: 20px 0 5px 0;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

img{
	border:none;
}
.whiteText{
	color: white!important;
	margin: 0!important;
}
body ::-webkit-scrollbar {
	width: 4px;
}
body ::-webkit-scrollbar-track-piece {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
body ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 2px;
}
body ::-webkit-scrollbar-thumb {
	border-radius: 0px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	/*-webkit-box-shadow: inset 0 0 6px #2f5b09; */
	-webkit-box-shadow: inset 0 0 6px #5C3E18;
}
.cursor_hand{
	cursor:pointer;
	/*cursor:hand;*/ /* IE 5.0, 5.5 */
}

.roundedCorners_bottom{
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Header------------->
*/
header{
	width: auto;
	margin:0 auto;
	height: 120px;
	padding:0 20px 0 20px;
	z-index: 10;
	position: relative;
	background-image: url("../images/header.jpg");
	background-color:green;
	border-bottom: 3px solid gray;
}

header img{
	margin-top: 10px;
	width: 140px
}

/* Menus ------------------->
*/
#center_menu{
	width: 1024px;
	margin:0 auto;
}
header nav{
	position:absolute;
	z-index:20;
	height:30px;
	color: white;
	top: 90px;
	margin-left: 200px;
}
header nav a{
	text-decoration:none;
/*	margin:0 15px 0 10px;*/
	color: white;
/*}

header nav a{*/
	padding: 0 50px 0 0px;
	margin: 0 0 0 10px!important;
}

header nav a:hover{
	color:black;
}

header nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

/* ~ligne 70, meme contenu de regle, .cursor_hand, utilisée à 5 endroits */
header nav li{
	cursor:pointer;
	/*cursor:hand;*/ /* IE 5.0, 5.5 */
}

header nav>ul>li{
	display:inline-block;
	width:150px;
	height:30px;
	padding:5px;
	float:left;
}

header nav>ul>li:hover{
	background-color:white!important;
	color: black!important;
	border-top:1px solid #963;
	border-left:1px solid #963;
	border-right:1px solid #963;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow:0 -5px 10px rgba(0,0,0,0.3);
}

header nav>ul>li:hover>ul{
	display:inline-block;
}

/*header nav>ul>li:hover>a{
	color: black!important;
}*/

header nav>ul>li>a{
	width:125px;
}

header nav>ul>li>ul{
	position:relative;
	width: 170px;
	z-index:-1;
	display:none;
	left: -6px;
	top:2px;
	border-bottom:1px solid #D0D0D0;
	border-left:1px solid #D0D0D0;
	border-right:1px solid #D0D0D0;
	background-color: white;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

header nav>ul>li>ul>li{
	border-bottom:1px solid #D0D0D0;
}

header nav>ul>li>ul>li:last-child{
	border:none;
}

header nav>ul>li>ul>li:first-child{
	padding-top: 10px;
}

header nav>ul>li>ul>li>a{
	padding:5px;
	display:inline-block;
	color: black!important;
}

header nav>ul>li>ul>li:hover{
	background-color:#D6B68B;
}

.activePage{
	background-color:white!important;
	border-top:1px solid #963;
	border-left:1px solid #963;
	border-right:1px solid #963;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	box-shadow:0 -7px 10px rgba(0,0,0,0.3);
}

.aActiveFix{
	color: black!important;
}

span.spanFix_li_hover{
	padding:0 0 0 10px;
}

header h1{
	color: white;
	margin: 20px 0 0 0;
	display: inline-block;
}

header h1:hover{
	color: #D0D0D0;
}

#userWrap > #search{
	width: 200px;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3px 7px;
	outline: 0;
	font-size: 14px;
	box-shadow:0 -2px 10px rgba(0,0,0,0.5);
}

#userWrap > label{
	padding-right: 20px;
	color: white;
}

#userWrap{
	float: right;
	margin: 10px 30px 0 0;
	color: white;
	text-align: right;
}

#userWrap a{
	color: white;
	text-decoration: none;
}

#userWrap a:hover{
	color: #DDD;
	text-decoration: none;
}

#search:focus{
 border: 1px solid #6DB536;
}
/* Content ----------->
*/
content{
	width: 1024px;
	margin:auto;
	min-height: 400px;
	padding: 40px 0;
}

.formulaire #userTaken{
	color: red;
	font-size: 9pt;
}

#loginDiv{
	width:830px;
	margin:0 auto;
	text-align:center;
}

#loginDiv form{
	vertical-align:top;
}

/* formatage du formulaire ---> */
.formulaire{
	position: relative;
	display: inline-block;
	border:1px solid #D0D0D0;
	border-radius:5px;
	padding: 30px 40px;
	background-color: rgba(0,0,0,0.08);
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* chrome */
	-moz-box-sizing: border-box; /* mozilla */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 20px 0 0 20px;
	text-align:left;
}

.fieldForm{
	margin-top: 0px!important;
	background-color: #D0D0D0;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.formulaire h3{
	margin: 0;
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}

.formulaire h5{
	margin: 20px 0 5px 0;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.formulaire input.rounded{
	width: 250px;
	border: 1px solid #D0D0D0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 6px 7px;
	outline: 0;
	font-size: 18px;
	position: relative;
	margin-bottom: 20px;
}

.formulaire fieldset{
	border:none;
}

.formulaire input.rounded:focus {
 border: 1px solid #6DB536;
}

/* formatage des composantes */
/* Select 1 ---->
*/
.selection select{
	width: 120px;
	margin-left: 230px;
}

.selection select.rounded{
	border: 1px solid #D0D0D0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px;
	outline: 0;
	font-size: 12px;
}

.selection select.rounded:focus{
	border: 1px solid #6DB536;
}

.selection label{
	position: absolute;
	left: 50px;
}

#send{
	margin-top:10px;
}

.formulaire textarea{
	width: 350px;
	height: 150px;
	resize: none;
}

.formulaire > p{
	font-size: 12px;
	margin: 0 0 30px 0;
}

.formulaire > div{
	margin:0;
}

button.rounded{
	border: 1px solid #D0D0D0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 20px;
	outline: 0;
	font-size: 14px;
	background-color: #fff;
}

button.rounded:hover{
	/*border: 1px solid #6DB536;*/
	border: 1px solid #D6B68B;
}

button.rounded:active{
	/*border: 1px solid #6DB536;*/
	border: 1px solid #D6B68B;
	background: rgb(211,211,211); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.spanError{
	font-size:10pt;
	color: red;
	float:right;
	margin-right: 30px;
}

span.spanValid{
	font-size: 10pt;
	color: green;
	margin-left: 10px;
	width:20px;
	display:inline-block;
}

.formulaire + div > ul{
	list-style: none;
}

.formulaire #userInvalid{
	color: red;
	font-size: 9pt;
}

/* ----------------------------------------------------------------------------------- */

/** INDEX **/
#index #descriptionSite{
	padding:0 10px 10px 10px;
}
#index #descriptionSite h3{
	padding:0;
	margin:0;
}
/**---------------------------------- slider ------------------------------**/
#sliderJQ{
	text-align: center;
	width:1024px;
	margin-bottom: 20px;
	height: 505px;
	background-color: rgba(0,0,0,0.04);
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* chrome */
	-moz-box-sizing: border-box; /* mozilla */
}

#sliderJQ_img{
	height:500px;
	overflow:hidden;
}

#sliderJQ_img img{
	margin:0 auto;
	display:block;
}

#sliderJQ_img>ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width:14000px;
}

#sliderJQ_img li{
	float:left;
	display:inline-block;
	max-width:1024px;
	width:1024px;
	height:500px;
	margin:0 auto;
}

/*#sliderJQ_desc{
	width:1000px;
	height:30px;
	text-align:center;
	color: black;
	padding:5px 20px;
}*/

#sliderWrap{
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*#sliderJQ_stopstartBtn{
	border: 1px solid #5C3E18;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 20px;
	outline: 0;
	font-size: 14px;
	padding:4px 10px;
	margin-top:6px;
	margin-bottom:6px;
	position:relative;
	top:-50px;
	width:94px;
}*/

/** PRODUITS **/
/*#produits{
	color:gray;
	width:100%;
	margin:0;
}*/

#produits header{
	margin-bottom:30px; /* 2014-06-06 AJOUT parce que le header embarquais par-dessus le menu et je n'ais pas trouvé quelle balise ou règle faisait ça, donc solution temporaire en attendant de réviser ce bout du CSS */
}

#produits_categories{
	width:100%;
	text-align:center;
	padding:1px;
}

#produits_categories ul{
	/*width:auto;*/
	list-style-type:none;
	margin:10px auto;
	padding:0;
}

#produits_categories li{
	display:inline-block;
	margin:0;
	padding:0;
}

#produits_categories a.rounded,
#produits_categories span.rounded{
	padding: 3px 20px;
	outline: 0;
	font-size: 16px;
	border:1px solid gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
	/*color: white;*/
	color: gray;
	width: auto;
	height: 30px;
	display: block;
}

#produits_categories a.rounded:hover,
#produits_categories a.selected,
#produits_categories span.selected{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #fff;
	color:black;
}

#produits_categories a.rounded:active{
	border: 1px solid #D6B68B;
	background: rgb(211,211,211);
	background: -moz-linear-gradient(top, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 );
}

#produits_infos{
	margin:5px;
	width:100%;
}

/*#produits_infos_pic{
	vertical-align:top;
	display:inline-block;
}*/

/*#produits_infos_pic img{*/
/*#produits_infos>div>img{*/
#produits_infos_img{ /* Le ID est nécessaire pour JS */
	vertical-align:top;
	width:300px;
	/*height:200px;*/
}

/*#produits_infos_dl{*/
#produits_infos dl{
	width:695px;
	height:210px;
	display:inline-block;
	margin-left:10px;
	/*padding:0;
}

#produits_infos_dl dl{*/
	color:black;
	margin:0;
}

/*#produits_infos_dl dt{*/
#produits_infos dt{
	font-weight:bold;
	width:185px;
	float:left;
}

/*#produits_infos_dl dd{*/
#produits_infos dd{
	width:470px;
	float:right;
	padding:0;
	margin:0;
}

#produits_description{
	margin-bottom:10px;
	height:150px; /*12em;*/
	width:99%;
}

#produits_infos_btns{
	text-align:right;
	padding-right:10px;
	width:100%;
}

#produits_infos_ajouterpanier{
	text-align:right;
	/*vertical-align:middle;*/
	color:black;
	padding-right:20px;
	margin-top:10px;
}

#produits_infos_ajouterpanier *{
	vertical-align:middle;
}

#produits_infos_ajouterpanier input[type="number"]{
	width:3em;
	margin-right:3px;
	/*vertical-align:top;*/
}

/*#produits_infos_ajouterpanier>img{
	width:54px;
}*/

/*#produits_infos_pic img,*/
.inventory_box img,
#gestion_fiche img{
	width:300px;
	/*height:200px;*/
}

#inventory_box_parent{
	margin-top:20px;
}

.inventory_box{
	margin:10px 0;
	border-bottom:3px solid gray;
}

.inventory_box div{
	vertical-align:top;
	display:inline-block;
}

.produits_ColorChoiceBox{
	width:20px;
	height:20px;
	border:1px solid black;
	margin-top: 4px;
	margin-right: 6px;
	display:inline-block;
	outline:3px hidden #000;
}

.produits_ColorChoiceBox.selected{
	outline:3px solid #999;
}

/* De .red à .green, ces classes sont nécessaires pour les carrés de sélection de couleurs dans le "catalogue" */
.red{
	background-color:#f00;
}
.blue{
	background-color:#00f;
}
.yellow{
	background-color:#ff0;
}
.brown{
	background-color:#960;
}
.violet{
	background-color:#90f;
}
.darkorange{
	background-color:#c63;
}
.white{
	background-color:#fff;
}
.black{
	background-color:#000;
}
.bisque{
	background-color:#ffc;
}
.green{
	background-color:#0f0;
}

/** PANIER **/
#gestion_panier #container #content h2{
	margin: 0 auto;
	width: 900px;
}

#gestion_panier #itemsDuClient, #facture_client table{
	margin:0 auto;
	width: 900px;
	border-collapse:collapse;
}

#itemsDuClient tr:first-child{
	border:1px solid;
}

#itemsDuClient th{
	text-align: center;
}

#itemsDuClient th, #itemsDuClient td{
	padding-left:5px;
	padding-right:10px;
}

/*#listePanier td, #factureClient td{
	height: 20px;
}*/

#itemsDuClient tr.rangeeItem:nth-child(odd){
	background-color: #b4c0cc /*#99b2cc; /*#69c;*/
}

#itemsDuClient tr.rangeeItem:nth-child(even){
	background-color: #b4ccc0 /*#99ccb2; /*#6c9;*/
}

#gestion_panier #itemsDuClient tr:nth-last-child(2){
	border:1px solid;
}

#itemsDuClient caption{
	text-align:center;
	font-weight:bold;
	font-size:1.5em;
}

#listePanier_Vider{
	text-align: right;
}

#listePanier_Payer{
	text-align:center;
}

#itemsDuClient tr.rangeeItem>td:first-child{
/*.listePanier_ID{*/
	width:70px;
	text-align:right;
	padding-right: 10px;
}

#itemsDuClient tr.rangeeItem>td:nth-child(2){
/*.listePanier_PROD{*/
	width:400px;
}

#itemsDuClient tr.rangeeItem>td:nth-child(3){
/*.listePanier_CLR{*/
	width:100px;
}

#itemsDuClient tr.rangeeItem>td:nth-child(4){
/*.listePanier_PRIX{*/
	width:125px;
	text-align: right;
	padding-right:10px;
}

#itemsDuClient tr.rangeeItem>td:nth-child(5){
/*.listePanier_QTE{*/
	width: 50px;
	text-align: center;
}

#itemsDuClient tr.rangeeItem>td:nth-child(5) input[type=number]{
/*.listePanier_QTE input[type=text]{*/
	text-align: right;
	width: 3em;
}

#gestion_panier #itemsDuClient tr.rangeeItem>td:last-child{
/*.listePanier_BTN{*/
	width: 20px;
	text-align:right;
	padding-right:5px;
}

/*#listePanier td:last-child{
	padding-right:5px;
}*/

#facture_client #itemsDuClient tr.rangeeItem>td:last-child{
	width: 100px;
	text-align:right;
}

/** FOOTER **/
footer{
	height: 200px;
	border-top: 1px solid #5C3E18;
	position:relative;
}

/*#footer_content{
	max-width:1024px;
	height: 200px;
	margin:0 auto;
}*/

/*footer a{
	color: black;
}*/

/*footer a:hover{
	color: #3c7a0b;
}*/

/*footer>nav,
footer>p{
	display:inline-block;
}*/

footer>nav{
	vertical-align:top;
}

footer nav a{
	text-decoration:none;
	color: black;
	font-size: 12pt;
}

footer nav a:hover{
	/*text-decoration:none;*/
	color: #3c7a0b;
}

/*#footer_menu{
	float: right;
}*/

footer>p{
	/*text-align:right;*/
	position:absolute;
	bottom:0;
	right:10px;
	/*border:1px dashed red;*/
	}

footer>p>mark{
	background-color:transparent;
	color:grey;
}

footer nav ul{
	list-style-type:none;
	padding:0;
}

footer nav>ul{
	min-width:600px;
}

footer nav>ul>li{
	display:inline-block;
	padding:5px;
	float:left;
	font-size: 12pt;
	color: #919191;
}

/*#footer_index{
	width:100px;
}

#footer_produits{
	width:200px;
}

#footer_galerie{
	width:160px;
}

#footer_apropos{
	width:115px;
}

#footer_formulaire{
	width:100px;
}*/

footer nav>ul>li>ul>li{
	margin-left: 15px;
}

footer nav>ul>li>ul>li:hover:before{
	content: "- ";
	font-weight: bold;
	margin-left: -11px;
}

footer nav>ul>li>ul>li>a{
	font-size: 10pt;
}

/*#footer_menuContainer{
	width: 1024px;
	margin:auto;
}*/

/* formatage region et langue footer */
/*.region{
	padding-left: 10px;
	padding-right: 10px;
}

.drapeau{
	padding-right: 10px;
}

.arrowregion{
	padding-left: 30px;
	padding-right: 20px;
}

#langues_regions{
	display: inline-block;
}*/

/** A PROPOS **/
.aProposBox{
	margin-bottom:30px;
}

.aProposBox_Header{
	height:35px;
	text-align:center;
	padding:5px 20px;
}

.aProposBox_Header>span{
	color:black;
	font-weight:bold;
	font-size:1.2em;
}

.aProposBox_Content{
	padding:15px 15px 0 15px;
	border:none;
	text-align:justify;
}

.aProposBox_Content>p{
	padding:0;
	margin:0 0 1em 0;
}

.aProposBox_Content>img{
	width:300px;
}

.aProposBox_Content>img.floatLeft{
	float:left;
	margin-right:15px;
}

.aProposBox_Content>img.floatRight{
	float:right;
	margin-left:15px;
}

/* GESTION PRODUITS */
#GestionProduits{
	margin:0;
	padding:0 10px;
}

#formGestionProduits legend{
	font-weight:bold;
	font-size:2em;
}

#formGestionProduits fieldset{
	border:none;
}

#formGestionProduits ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#formGestionProduits li{
	vertical-align:top;
}

#gestion_fiche ul>li>ul>li{
	display:inline-block;
	padding:5px 0;
}

#gestion_fiche ul>li>ul>li:first-child{
	width:175px;
}

#gestion_fiche_description{
	resize:none;
}

 .gestion_fiche_choix li{
 	width:175px;
	display:inline-block;
	padding:5px 0;
 }

/* \GESTION PRODUITS */

/* Inclassés */

#gestionFactures table{
	border-collapse:collapse;
	border:1px solid black;
	text-align:left;
	margin:0 auto;
}

#gestionFactures th, #gestionFactures td{
	border-top:none;
	/*border-right:1px solid gray;*/
	border-bottom:1px solid black;
	border-left:none;
	padding-left:7px;
}

#gestionFactures tr.odd{
	background-color:#ccc;
}

#gpFacture_no{
	width:100px;
}

#gpFacture_no ~ td{
	text-align:right;
}

#gpFacture_date{
	width:165px;
}

#gpFacture_nomclient{
	width:300px;
}

.gpFacture_total{
	width:165px;
	text-align:right;
}

#gpFacture_lien{
	width:80px;
}

.icons_basket{
	width:54px;
}

#produits_infos_clrdispo{
	vertical-align:middle;
}

#produits_infos_prodqte{
	text-align:right;
}

.textright{
	text-align:right;
}

/* \Inclassés */

/** == EOF == **/
